services:

  trader-1:
    container_name: trader-1
    shm_size: "1gb"
    build:
      context: .
    entrypoint: /root/bin/trader_entrypoint.sh
    env_file:
      - .env
    environment:
      CLIENT_ID: 1
      ALGO_TYPE: TEST
      ORDER_SERVER_HOSTS: exchange-1,exchange-2,exchange-3
      THISHOST: "trader-1"
      SLEEP_TIME_MS: ${SLEEP_TIME_MS}
      TOTAL_ORDER_NUMBER: ${TOTAL_ORDER_NUMBER}
      WARMUP_ORDER_NUMBER: ${WARMUP_ORDER_NUMBER}
      TEST_ID: ${TEST_ID}
      JAVA_TOOL_OPTIONS: ${TRADER_JAVA_TOOL_OPTIONS}
    hostname: trader-1
    volumes:
      - aeron-dir:/dev/shm/aeron-root
    depends_on:
      - exchange-1
      - zookeeper
    networks:
      default:
        ipv4_address: 10.43.0.31

  exchange-1:
    container_name: exchange-1
    shm_size: "1gb"
    build:
      context: .
    entrypoint: /root/bin/exchange_entrypoint.sh
    env_file:
      - .env
    environment:
      INSTANCE_ID: "1"
      THISHOST: "exchange-1"
      JAVA_TOOL_OPTIONS: ${EXCHANGE_JAVA_TOOL_OPTIONS}
    hostname: exchange-1
    volumes:
      - aeron-dir:/dev/shm/aeron-root
    depends_on:
      - archive-host
      - zookeeper
    networks:
      default:
        ipv4_address: 10.43.0.21

  exchange-2:
    container_name: exchange-2
    shm_size: "1gb"
    build:
      context: .
    entrypoint: /root/bin/exchange_entrypoint.sh
    env_file:
      - .env
    environment:
      INSTANCE_ID: "2"
      THISHOST: "exchange-2"
      JAVA_TOOL_OPTIONS: ${EXCHANGE_JAVA_TOOL_OPTIONS}
    hostname: exchange-2
    volumes:
      - aeron-dir:/dev/shm/aeron-root
    depends_on:
      - exchange-1
      - archive-host
      - zookeeper
    networks:
      default:
        ipv4_address: 10.43.0.22

  exchange-3:
    container_name: exchange-3
    shm_size: "1gb"
    build:
      context: .
    entrypoint: /root/bin/exchange_entrypoint.sh
    env_file:
      - .env
    environment:
      INSTANCE_ID: "3"
      THISHOST: "exchange-3"
      JAVA_TOOL_OPTIONS: ${EXCHANGE_JAVA_TOOL_OPTIONS}
    hostname: exchange-3
    volumes:
      - aeron-dir:/dev/shm/aeron-root
    depends_on:
      - exchange-1
      - archive-host
      - zookeeper
    networks:
      default:
        ipv4_address: 10.43.0.23

  archive-host:
    container_name: archive-host
    shm_size: "2gb"
    build:
      context: .
    entrypoint: /root/bin/archive_host_entrypoint.sh
    env_file:
      - .env
    environment:
      DELETE_AERON_DIR: true
    hostname: archive-host
    volumes:
      - aeron-dir:/dev/shm/aeron-root
    networks:
      default:
        ipv4_address: 10.43.0.2

  zookeeper:
    image: bitnami/zookeeper:latest
    container_name: zookeeper
    hostname: zookeeper
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes
      - ZOO_STANDALONE_ENABLED=true
      - ZOO_SERVER_ID=1
      - ZOO_ADVERTISED_HOSTNAME=zookeeper
    volumes:
      - ./config/zoo.cfg:/opt/bitnami/zookeeper/conf/zoo.cfg
    networks:
      default:
        ipv4_address: 10.43.0.3

volumes:
  aeron-dir:

networks:
  default:
    driver: bridge
    ipam:
      config:
        - subnet: 10.43.0.0/24




